# Ignorar la carpeta del entorno virtual
.venv/
build/
dist/
musicas/
ffmpeg/
# Ignorar archivos generados por el sistema operativo
__pycache__/
*.pyc
.cache
# Ignorar configuraciones de IDEs
*.vscode/
.idea/
